.home {
  display: flex;
  height: max-content;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  flex-direction: column;

  align-items: center;
  padding-bottom: 5rem;
}
.page-header-image {
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  z-index: -1;
}

.home_main {
  /* margin-top: 2rem; */
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.82);
}
.home_main p {
  color: white;
  margin-top: 1rem;
  font-size: 15px;
  font-weight: 800;
}
#name {
  font-size: 2.5rem;
}
.links {
  display: inline-flex;
  margin-top: 1.5rem;
}

.btn {
  height: 2.5rem;
  width: 9rem;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: white;
  font-size: 12px;
  margin-inline: 5px;
}

.btn:hover {
  background-color: rgb(12, 12, 12);
  cursor: pointer;
}

/* below image */

.container {
  position: relative;
  width: 100vw;
  height: 4rem;
  display: flex;
  margin-top: -2rem;
  justify-content: center;
  align-items: center;
}
.button-container {
  display: inline-flex;
  justify-content: center;
  width: 100vw;
}
.btn-round {
  margin: 0 8px 0 8px;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(136, 109, 69);
}
.btn-icon {
  font-size: 1.2rem;
  color: white;
}

.btn-float {
  display: flex;
  height: 4rem;
  width: 8rem;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
}

/* about */
.block {
  margin-top: 2.5rem;
  height: max-content;
  width: 80vw;
  padding-bottom: 1.5rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.about_subsection {
  height: 100%;
  width: 50%;
}
.card-body {
  padding: 1.5rem 1rem 1rem 1.2rem;
}
.title {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 1.2rem;
}
.card-body p {
  line-height: 20px;
  margin-top: 1.2rem;
  font-size: 16px;
  color: rgb(72, 71, 71);
  width: 95%;
}
.about_item {
  display: flex;
  margin-top: 1.2rem;
}
.about_head {
  width: 14rem;
  font-size: 16px;
  font-weight: 900;
}
.about_dis {
  color: rgb(72, 71, 71);
  font-size: 16px;
  width: 95%;
}

@media only screen and (max-width: 980px) {
  .row {
    flex-direction: column;
  }
  .about_subsection {
    height: 100%;
    width: 100%;
  }
  .about_dis {
    color: rgb(72, 71, 71);
    font-size: 16px;
    width: 60%;
  }
  .about_head {
    width: 30%;
  }
}
@media only screen and (max-width: 580px) {
  .about_item {
    display: flex;
    margin-top: 1.2rem;
    flex-direction: column;
  }
  .about_dis {
    color: rgb(72, 71, 71);
    font-size: 16px;
    width: 90%;
    overflow-wrap: break-word;
  }
  .title {
    font-size: 1.2rem;
  }
  .about_head {
    font-size: 14px;
    width: max-content;
  }
  .btn-round {
    margin: 0 5px 0 5px;
    height: 3rem;
    width: 3rem;
  }
  .btn-icon {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 540px) {
  .home_main p {
    color: white;
    margin-top: 1rem;
    font-size: 12px;
    font-weight: 800;
  }
  #name {
    font-size: 1.5rem;
  }
  .links {
    display: flex;
    flex-direction: column;
  }
  .btn {
    margin-top: 1rem;
  }
}

/* skills */

.skills {
  width: 100vw;
  display: flex;
  height: max-content;
  align-items: center;
  flex-direction: column;
}
.skill_block {
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}
.heading {
  font-size: 1.8rem;
  font-weight: 900;
  margin-top: 8rem;
}
.skill_item {
  padding: 0rem 1rem 1rem 1.2rem;
  display: flex;
  width: 100%;
  margin-top: 1.5rem;
}
.skill_head {
  width: 45%;
  font-size: 16px;
  color: rgb(136, 109, 69);
  font-weight: 500;
}
.skill_dis {
  color: rgb(72, 71, 71);
  font-size: 16px;
  width: 50%;
}
@media only screen and (max-width: 980px) {
  .skill_dis {
    color: rgb(72, 71, 71);
    font-size: 16px;
    width: 55%;
  }
  .skill_head {
    width: 40%;
  }
}
@media only screen and (max-width: 730px) {
  .skill_item {
    display: flex;
    margin-top: 1.2rem;
    flex-direction: column;
  }
  .skill_dis {
    color: rgb(72, 71, 71);
    font-size: 16px;
    width: 90%;
  }
  .skill_head {
    width: max-content;
    padding-bottom: 5px;
  }
  .heading {
    font-size: 1.5rem;
  }
}
